Repository House-of-M/contributors-wall, pull requests merged in 2021-10, with the labels that each got.

#23 Added my Contributor Card
  index.html
Labels: good first issue, Hacktoberfest, hacktoberfest-accepted, html

#24 Added card
  index.html
Labels: good first issue, Hacktoberfest, hacktoberfest-accepted, html

#26 Add contributor card
  index.html
Labels: hacktoberfest-accepted

#27 Added Pyi's card
  index.html
Labels: Hacktoberfest, hacktoberfest-accepted

#29 Live website - Fix and enhacement : contribution thread + theme switch
  index.html
  src/style/style.css
Labels: bug :bug:, enhancement, Hacktoberfest, hacktoberfest-accepted, css, fix :hammer_and_wrench:

#30 Live website: style enhancement + minor fix
  src/style/style.css
Labels: enhancement, Hacktoberfest, hacktoberfest-accepted, css
